@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Open Sans', sans-serif;
    @apply scroll-smooth scroll-mt-20
}
.bg-img{
    background: url('../public/scattered-forcefields.svg');
}

h1{
    @apply font-bold text-center text-3xl md:text-5xl
}
h2{
    @apply font-normal text-xl md:text-3xl
}
h3{
    @apply font-semibold text-lg 
}
h4{
    @apply font-medium text-lg text-blue-900 text-center
}
h5{
    @apply font-light text-sm text-primaryMidnight;
}
h6{
    @apply font-medium
}
p{
    @apply font-normal text-sm md:text-base
}

.animate-header{
    animation: animate 15s ease infinite;
}
@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}